body{
    background-color: cornsilk;
}
h1{
    text-align: center;
}
.chat{
    margin: 20px 10% auto;
}
.chat__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    min-height: 200px;
}
.chat__form-input{
    font-size: medium;
    display:block;
    width:400px;
    height:60px;
}
.chat__form-button{
    width: 150px;
}
.chat__messages{
    background-color: lightgrey;
    padding: 10px;
}
.chat__messages div {
    padding: 5px;
}
.chat__messages div:nth-child(even) {
    background: #CCC;
}
